<a href="https://colab.research.google.com/github/NileshCT/Python_Pro/blob/main/python_pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##1.program to find oldest age amoung 3 person
a=int(input("age"))
b=int(input("age"))
c=int(input("age"))
if a>b and a>c:
  print("a is olderest")
if b>c and b>a:
  print("b is oldest")
if c>a and c>b:
  print("c is oldest")

age12
age9
age8
a is olderest

In [ ]:
a=[10,20,30]

In [ ]:
a=int(input("age"))
b=int(input("age"))
c=int(input("age"))
if a>b and a>c:
  print("a")
elif b>a and b>c:
  print("b")
else:
  print("c")

age12
age56
age34
b

In [ ]:
a=[10,20,30]
b=int(input("inter age"))
for i in a:
  if i > b:
    print("age in a is greater")
  else:
    print("age in b is greater")

inter age23
age in b is greater
age in b is greater
age in a is greater

In [ ]:
# program to convert celcious to faraenheat
a=int(input(""))
b=a*33.8
print(b)

10
338.0

In [ ]:
a=[10,20,30]
for temp in a:
  if temp==10:
    y=(temp*1.8)+32
    print(y)
  
  if temp==20:
    x=(temp*1.8)+32
    print(x)
    
  if temp==30:
    z=(temp*1.8)+32
    print(z)

50.0
68.0
86.0

In [ ]:
import numpy as np

a=[12,14,151,71,18]

cel=np.array(a)
print(cel)

fer=(cel*1.8)+32
print(fer)

[ 12  14 151  71  18]
[ 53.6  57.2 303.8 159.8  64.4]

In [ ]:
#program to find  the vowels from fiven words
a=input("mention name ")
vowels="aeiou"
for ele in a:
  if ele in vowels:
    print(ele)

mention name nil
i

In [ ]:
a=input("mention name")
vowels='a','i','o','e','u',
for ele in a:
  if ele in vowels:
    print(ele)

mention namenil
i

In [ ]:
#program to add two numbers
a=int(input("1st number"))
b=int(input("2nd number"))
c=a+b
print("addition of two number",c)

1st number12
2nd number10
addition of two number 22

In [ ]:
a=[12,13,11,10]
b=[10,11,23,43]
c=a+b
print(c)
# try this
a=[12,13,11,10]
b=[10,11,23,43]
d=a.append(b)
print(d)

[12, 13, 11, 10, 10, 11, 23, 43]
None

In [ ]:
#program to find greater of two number
a=int(input(""))
b=int(input(""))
if a>b:
  print(a)
if b>a:
  print("b is greater",b)

In [ ]:
#python program for factorial of number 
import math
a=int(input(""))
d=math.factorial(a)
print(d)

12
479001600

In [ ]:
#program to find the simple interest
p=int(input(""))
r=int(input(""))
t=int(input(""))
d=(p*r*t)/100
print(d)

10
10
12
12.0

In [ ]:
count=1
while count<=2:
  p=int(input(""))
  r=int(input(""))
  t=int(input(""))
  d=(p*r*t)/100
  print("si is as :",d)
  break
  count+=1

10
10
12
si is as : 12.0

In [ ]:
#program to find the compound interest
def c_i(p,r,t):
  p=int(input(""))
  r=int(input(""))
  t=int(input(""))
amount=p *(pow((1 + r/100),t)) 
ci=amount-p
print(ci)

21.38428376721003

In [ ]:
#python program to decide weather given no. is armstrong number or not.
n=153
sum=0
order=len(str(n))
copy_n=n
while n>0:
  digit=n%10
  sum=sum+digit**order
  n=n//10
if (sum==copy_n):
  print("armstrong number")
else:
  print("not arm strong number")

armstrong number

In [ ]:
#program to find area of circle
import math
math.pi
r=int(input(""))
a=math.pi * r *r
print("area of cicle",a)

10
area of cicle 314.1592653589793

In [ ]:
#Python program to print all prime number from the interval
n=int(input(""))
for i in range(2,n):
  if n%i==0:
    print("notprime")
    break
  else:
    print("prime ahe ")

6
notprime

In [ ]:
n=int(input(""))
for i in range(2,n):
  if n%i==0:
    print("notprime")
    break
  else:
    print("prime ahe ")

5
prime ahe
prime ahe
prime ahe

In [ ]:
n=7
for i in range(2,n):
  if n%i==0:
    print("not a prime number")
    break
else:
    print("prime number")

prime number

In [ ]:
#write a program to check nth fibonasi number
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
      c=a+b
      a=b
      b=c
      print(c)
fib(5)

0
1
1
2
3

In [ ]:
#program to find the largest element in the list
a=[10,20,30,40]
for i in a:
  if i>30:
    print("largest number is :",i)

largest number is : 40

In [ ]:
a=[10,20,30,40]
i=10
while i>10:
  i=i+1
  print(a)

In [ ]:
a=[10,20,30,40,50]
c=max(a)
print(c)

50

In [ ]:
alist=[-45,0,3,10,90,5,-2,4,18,45,100,1,-266,706]
largest=alist[0]
for large in alist:
    if large > largest:
        largest=large
print(largest)

706

In [ ]:
l=[]
n=int(input("length of list"))
for i in range(1,n+1):
  e=int(input("element"))
  print(e)
  l.append(e)
  print(l)
l.sort()
print(l)
print(l[n-1])

length of list3
element1
1
[1]
element3
3
[1, 3]
element2
2
[1, 3, 2]
[1, 2, 3]
3

In [ ]:
#python program to interterchange 1st and last elemt in list
a=[10,20,30]
print(a)
a[0]
a[2] 
a[0],a[2]=a[2],a[0]
print(a)

[10, 20, 30]
[30, 20, 10]

In [ ]:
#python program to swap any two number in list
a=[10,20,30,40]
a[0]
a[1]
a[0],a[1]=a[1],a[0]
print(a)

[20, 10, 30, 40]

In [ ]:
#program to find the number occurrance of elemt in list
lst=list(input(""))
n=input(" ")
for i in lst:
  if(n in lst)==True:
    print(lst.count(n))
    break
  else:
    print(n,"no number is found in list")

1,2,3,4,1
 1
2

In [ ]:
lst=list(input(""))
n=int(input(" "))
for i in lst:
  if(n in lst)==True:
    print(lst.count(n))
    break
  else:
    print(n,"no number is found in list")

1,2,3,4,1
 1
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list

In [ ]:
#program to generate sublist of list
s=("nilesh thonte")
l=s.split()
print(l)

['nilesh', 'thonte']

In [ ]:
#program to checkcommon item from list
a=[10,20,30,40]
b=[40,30,50,60]
print(set(a) & set(b))

{40, 30}

In [ ]:
#program to add three numbers
#a=int(input(""))
#b=int(input(""))
#c=int(input(""))
#d=a+b+c
#print(d)
a=[12,12,12]
for i in a:
  print(i)
d=a[0]+a[1]+a[2]
print(d)

12
12
12
36

In [ ]:
num_list=[]
number=int(input("enter len of range"))
for i in range(1,number+1):
    value = int(input("Please enter the Value of %d Element : " %i))
num_list.append(value)
print(num_list)
total=sum(num_list)
print(total)

enter len of range2
Please enter the Value of 1 Element : 12
Please enter the Value of 2 Element : 89
[89]
89

In [ ]:
#Write a program that will reverse a four digit number.Also it checks
#whether the reverse is true
a=("6565575")
d=a[::-1]
print(d)
#to check reverse is true

5755656

In [ ]:
#write a program that will tell whether the given year is a leap year
#or not.
year=int(input("enter a yyear"))

if year%4==0 and year%100!=0:
  print(year,"is leap year")
elif year%100:
  print(year,"is not leap year")
elif year%400:
  print(year,"is leap year")
else:
  print("year is not leap year")

enter a yyear2019
2019 is not leap year

In [ ]:
#. Write a program to find the euclidean distance between two
#coordinates.
import numpy as np
p1=np.array([1,3])
p2=np.array([4,2])
d=np.linalg.norm(p2-p1)
print(d)

3.1622776601683795

In [ ]:
#Write a program that take a user inputr of three angles and will
#find out whether it can form a triangle or not.
a=int(input(""))
b=int(input(""))
c=int(input(""))
d=a+b+c
if d==180:
  print("valid to form a triangle")
else:
  print("not valid to form triangle")

100
40
40
valid to form a triangle

In [ ]:
def Valid(a, b, c):
  if((a+b+c==180) and a!=0 and b!=0 and c!=0):
    return True
  else:
    return False
if __name__ == "__main__":
  a=int(input(""))
  b=int(input(""))
  c=int(input(""))  
  if(Valid(a,b,c)):
    print("Valid")
  else:
    print("invalid")

100
20
39
invalid

In [ ]:
#10. Write a program that will take user input of cost price and selling
#price and determines whether its a loss or a profit
cp=int(input(""))
sp=int(input(""))
profit=sp-cp
print(profit)

20
30
10

In [ ]:
def profit(cp,sp):
  profit=(sp-cp)
  return profit
def loss(cp,sp):
  loss=(cp-sp)
  return loss
if __name__=="__main__":
  cp=1200
  sp=2000
  if(sp==cp):
    print("no p and l")
  elif sp>cp:
    print((profit(cp,sp),"profit"))
  else:
    print(loss(cp,sp),"loss")

(800, 'profit')

In [ ]:
#python program to find the volume of cyclinder 
import math
math.pi
r=int(input("mention radius"))
h=int(input("mention height"))
v=3.14*pow(r,2)*h
print(v)
# calculate the cost
total_cost=v*40
print(total_cost)

mention radius1
mention height1
3.14
125.60000000000001

In [ ]:
#python program to calculate si with input value are given in program
p=1000
r=20
t=3
si=p*r*t/100
print(si)

600.0

In [ ]:
#. Write a program that will tell whether the given number is divisible
#by 3 & 6.
a=int(input(""))
if a%3==0 and a%6==0:
  print("number is ok")
else:
  print("no. is not ok")

15
no. is not ok

In [ ]:
#Write a program that will take three digits from the user and add
#the square of each digit.
a=int(input(""))
b=int(input(""))
c=int(input(""))
d=pow(a,2)
e=pow(b,2)
f=pow(c,2)
g=d+e+f
print(g)

10
10
10
300

In [ ]:
# to check the given no. is armstrong or not
a=int(input(""))
sum=0
order=len(str(a))
n_pow=a
while a>0:
  digit=a%10
  sum+=digit**order
  a=a//10
if (sum==n_pow):
  print("arm")
else:
  print("not arm")

153
arm

In [ ]:
#. Write a program that will take user input of (4 digits number) and
#check whether the number is narcissist number or not
a=int(input(""))
sum=0
order=len(str(a))
npow=a
while a>0:
  digit=a%10
  sum+=digit**order
  a=a//10
if(sum==npow):
    print("narcissist")
else:
    print("not")

153
narcissist

In [ ]:
#Write a program that will give you the in hand salary after
#deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between
#5-10 lakh–10%),(11-20lakh–20%),(20< _ – 30%)(0-1lakh print k).

 
def gross_sal(basic,grade):
  hra=0.10 * basic
  da=0.05 * basic
  pf=0.03 * basic
if grade =='A':
  allowance=1400
elif grade =='B':
  allowance=1200
else:
  allowance=1000
gross=round (basic+hra+da+allowance-pf)
return gross
if __name__=="__main__":
  basic=1000
  grade="a"
print(gross_sal(basic,grade))

NameError: ignored

In [ ]:
#Write a program that will tell the number of dogs and chicken are
#there when the user will provide the value of total heads and legs.
total_head=int(input(""))
total_legs=int(input(""))
if total_legs < total_head or total_legs==0 or total_legs % 2!=0:
  print("invalid input")
else:
  rabbits=(total_legs-(2 * total_head))/2
  chicken=total_head - rabbits
  print("no. of rabbits"+str(rabbits))
  print("no. of chicken"+str(chicken))

35
94
no. of rabbits12.0
no. of chicken23.0

In [ ]:
#.Write a program that will swap numbers
a=10
b=34
print(a)
print(b)
a,b = b,a
print(a)
print(b)

10
34
34
10

In [ ]:
#write a program to find the sum of first n numbers, where n will be
#provided by the user. Eg if the user provides n=10 the output should be
#55.
def findsum(n):
  sum=0
  x=1
  while x<=n:
    print(x)
    sum+=x
    x+=1
  return sum
n=10
print(findsum(n))

1
2
3
4
5
6
7
8
9
10
55
10
1 11

In [ ]:
#write a program to find the sum of first n numbers, where n will be
#provided by the user. Eg if the user provides n=10 the output should be
#55.
n=[1,2,3,4,5,6,7,8,9,10]
sum=0
i=0
for i in n:
  sum=sum+i
i=i+1
print(sum)
print(i)

55
11

In [ ]:
#python program to sum of sq of n natural number
def sumsq(n):
  sm=0
  for i in range(1,n+1):
    sm=sm+(i*i)
    print(sm)
  return sm
n=3
print(sumsq(n))

1
5
14
14

In [ ]:
#25.Write a program that can multiply 2 numbers provided by the user
#without using the * operator
import math
n=[10,2]
product=math.prod(n)
print(product)

20

In [ ]:
import numpy
n1=10
n2=10
c=numpy.prod(n1)
print(c)

10

In [ ]:
#26.Write a program that can find the factorial of a given number provided
#by the user.
n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
  print(fact)

1
2
6
24
120

In [ ]:
import math
print("factorial of 5 is ", end="")
print(math.factorial(5))

factorial of 5 is 120

In [ ]:
def factorial (n=5):
  fact=1
  while n>=1:
    fact=fact*n
    n=n-1
  return fact

In [ ]:
f= factorial()
print(f)

120

In [ ]:
#python program to find the number of digits in number
a=2345
print(a)
digit=0
digit=a//10
print(digit)
b=digit//10
print(b)
d=b//10
print(d)
c=d//10
print(c)

2345
234
23
2
0

In [ ]:
number=int(input("given number is"))
count=0
while number>0:
  count+=1
  number=int(number/10)
print(count)

given number is456
3

In [ ]:
#.Print all factors of a given number provided by the user.
number=int(input("enter a number"))
l=[]
for i in range(1,number+1):
  if number%i==0:
    l.append(i)
print(l)

enter a number36
[1, 2, 3, 4, 6, 9, 12, 18, 36]

In [ ]:
#. Find the reverse of a number provided by the user(any number of digit)

n=int(input(""))
rev=0
while (n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
  print("rev of number",rev)

123
rev of number 3
rev of number 32
rev of number 321

In [ ]:
#Write a program to print the following pattern
# a program to print the following pattern
# *
# **
# ***
# ****
# *****
row=int(input("enter a row"))
for i in range(0,row):
  for j in range(0,i+1):
    print("*",end="")
  print("")

enter a row5
*
**
***
****
*****

In [ ]:
#Write a program to print the following pattern
# *
# **
# ***
# **
# *
row=int(input(""))
for i in range(row):
  for j in range(i+1):
    print("*",end="")
  print("")
for i in range(row):
  for j in range(row-i-1):
    print("*",end="")
  print("")

5
*
**
***
****
*****
****
***
**
*

In [ ]:
#.Write a program to print the following pattern
           
# *
# * * *
# * * * * *
# * * * * * * *
# * * * * * * * * *

In [ ]:
row=int(input(""))
for i in range(row):
  for j in range(0,i+1):
    print("* ",end="")
  print("")

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
row=int(input(""))
for i in range(row):
  for j in range(i+1):
    print("",end="")
  print("")
  for k in range(2*i+1):
    print(k+1,end="")
  print("")

In [ ]:
#Write a program that can check whether a given string is palindrome or
#not
name=input("write a string")
rev=name[::-1]
if rev==name:
  print("given string is palandrome")
else:
  print("not a palanadrom")
print(name)

write a stringnil
not a palanadrom
nil

In [ ]:
#.Write a program which can remove a particular character from a string.
name="nilesh"
new_string=name.replace("i","")
print(new_string)

nlesh

In [ ]:
name="nilesh thonte"
for char in "tn":
  new_string=name.replace(char,"")
print(new_string)

ilesh thote

In [ ]:
#.Count the number of vowels in a string provided by the user.
name="nilesh thonte"
vowels=["a","e","i","o","u"]
list1=[]
for x in name:
  if (x in vowels and x not in list1):
    list1.append(x)
print(list1)

['i', 'e', 'o']

In [ ]:
str=input("mention your string")
vow=0
for i in str:
  if (i=="a" or i=="e"or i=="i"or i=="o"or i=="u"):
    vow+=1
print(vow)

mention your stringnilesh thonte
4

In [ ]:
#.Count the number of vowels in a string provided by the user.
name="nilesh thonte"
name.index("t")

7

In [ ]:
name="nilesh thonte"
name.count("n")

2

In [ ]:
#. Find the length of a given string without using the len() function.
name="nilesh"
count=0
for i in name:
  count+=1
  print(count)

1
2
3
4
5
6

In [ ]:
def findlen(str):
  counter=0
  for i in str:
    counter+=1
  print(counter)
str="nilesh"
print(findlen(str))

6
None

In [ ]:
#Write a program that keeps on accepting a number from the user until
#the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
#python code to check palindrom 
nam=input("mention string")
b=nam[::-1]
if nam==b:
  print("given string is plandrome")
else:
  print("given string is not plandrome")

mention stringnil
given string is not plandrome

In [ ]:
#write a program to reverse a words from string
name="nilesh thonte"
a=name.split()
a.reverse()
c=" ".join(a)
print(c)

thonte nilesh

In [ ]:
#Ways to remove i’th character from string in Python
name="nilesh thonte"
a=name.replace("t"," ")
print(a)

nilesh  hon e

In [ ]:
##Ways to remove i’th character from string in Python
name="nilesh thonte"
for i in name:
  if i=="t":
    continue
  print(i,end=" ")

n i l e s h   h o n e

In [ ]:

##Ways to remove i’th character from string in Python
name="nilesh thonte"
a=name.replace("n"," ")
print(a)

 ilesh tho te

In [ ]:
name="nilesh thonte"
n=name[:3]
print(n)

nil

In [ ]:
name="nilesh thonte"
n=name[3:]
print(n)

esh thonte

In [ ]:
name="nilesh thonte"
new=name[:2] + name[3:]
print(new)

niesh thonte

In [ ]:
#Python – Avoid Spaces in string length
name="nilesh thonte"
name.replace(" ","")

'nileshthonte'

In [ ]:
#Python program to print even length words in a string.
name="nilesh"
a=len(name)
for i in name:
  if a%2==0:
    print("given string is of even letters")
    break  
  else:
    print("not a even length string")

given string is of even letters

In [ ]:
name="i am nilesh thonte"
a=name.split()
for i in a:
  if len(i)%2==0:
    print(i)

am
nilesh
thonte

In [ ]:
#Python – Uppercase Half String
name="nilesh thonte"
a=name.split(" ")[0]
b=name.split(" ")[1]
l=[]
print(a)
print(b)
c=a.upper()
print(c)
l.append(c)
l.append(b)
print(l)
" ".join(l)

nilesh
thonte
NILESH
['NILESH', 'thonte']

'NILESH thonte'

In [ ]:
#Python program to capitalize the first and last character of each word in a string.
name="nilesh"
print(name)
a=name.split()
l=[]
for i in a:
  x=i[0].upper()+i[1:-1]+i[-1].upper()
  l.append(x)
print(l)

nilesh
['NilesH']

In [ ]:
#Python | Program to accept the strings which contains all vowels.
n="nilesh"
i=set("aeiou")
for x in n:
  if x in i:
    i.remove(x)
print("Entered String is ",n)
if len(i)==0:
  print("accept the string ")
else:
  print("reject")

Entered String is  nilesh
reject

In [ ]:
#Python | Count the Number of matching characters in a pair of string.
name="sawaa"
for i in name:
  x=name.count(i)
  print((i,x))

('s', 1)
('a', 3)
('w', 1)
('a', 3)
('a', 3)

In [ ]:
a="nilesh"
uniq_a=set(a)
print(a)
b="thonte"
uniq_b=set(b)
print(b)
common=uniq_a and uniq_b
print(common)
print(len(common))

nilesh
thonte
{'t', 'e', 'o', 'h', 'n'}
5

In [ ]:
#Python program to count number of vowels using sets in given string.
name="nilesh"
v=set("aeiou")
for i in name:
  if i in v:
    print(len(i))
    print(i)

1
i
1
e

In [ ]:
def check_vow(string,vowels):
  final=[x for x in string if x in vowels]
  print(len(final))
  print(final)

string="nilesh"
vowels="AEIOUaeiou"
check_vow(string,vowels)

2
['i', 'e']

In [ ]:
#Python Program to remove all duplicates from a given string
name="nileshn name name"
x=set(name)
print(x)

{'s', 'i', 'n', ' ', 'a', 'm', 'e', 'l', 'h'}

In [ ]:
name="nileshthonte"
p=""
for i in name:
  if i not in p:
    p+=i
print(p)
k=list("nileshthonte")

nileshto

In [ ]:
#Python –Frequent Character in String
name="nileshthonte"
count={}
for i in name:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print("count of char")
for k in count.keys():
  print(f"{k}")

count of char
n
i
l
e
s
h
t
o

In [ ]:
!pip install matplotlib-venn

In [ ]:


# You probably need to run

!pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=9343d73ad1e88849be74c481592b0a7e7c3270f2be0460429cba3cb1e8201c91
  Stored in directory: /root/.cache/pip/wheels/cb/f3/5a/d88198fdeb46781ddd7e7f2653061af83e7adb2a076d8886d6
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [ ]:
#Python | Word location in String.
name="nilesh thonte"
x=name.split()
wrd="thonte"
res=x.index(wrd)+1
print(res)

2

In [ ]:
#Python | Consecutive characters frequency
name="aaabbyyttaasdfg"
x=name.split()
count={}
for i in name:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(count)
for k,v in count.items():
  print(f"{k}={v}")

{'a': 5, 'b': 2, 'y': 2, 't': 2, 's': 1, 'd': 1, 'f': 1, 'g': 1}
a=5
b=2
y=2
t=2
s=1
d=1
f=1
g=1

In [ ]:
def change(numbers,words):
  numbers={"1":"one","2":"two","3":"three","4":"four","5":"five","6":"six","7":"seven","8":"eight","9":"nine","0":"zero"}
  num=str(input("enter a number"))

  for i in num:
    if i in numbers:
      words=numbers.get(i)
  return words
calling=change(numbers="",words="")
print(calling)

enter a number667
seven

In [ ]:
#write a python program to find location of word
name="nilesh thonte"
name.index("thonte")

7

In [ ]:
name="nilesh thonte"
print("name")
a="thonte"
x=name.split()
b=x.index(a)+1
print(b)

name
2

In [ ]:
#Write a python program to remove all the duplicates from a lis
a=[1,23,4,4,5,3,4,5,6,7]
b=set(a)
print(b)

{1, 3, 4, 5, 6, 7, 23}

In [ ]:
a=[1,23,4,4,5,3,4,5,6,7]
l=[]
for i in a:
  if i not in l:
    l.append(i)
    print(i)

1
23
4
5
3
6
7

In [ ]:
# Write a python program to convert a string to title case without using
# the title()
name="nilesh thonte"
a=name.split()
r=''
for i in a:
  r=r + i[0].upper() + i[1:].lower() +" "
  print(r)

Nilesh
Nilesh Thonte

In [ ]:
#.Write a python program to find the max item from a list without using
#the max function.
a=[1,2,3,4,55,6,7,8,9,99]
b=len(a)
c=[]

10

In [ ]:
#Python | Program to print duplicates from a list of integers
a=[12,10,12,14,15,17,18,19]
a.sort()
print(a)
a[1]

[10, 12, 12, 14, 15, 17, 18, 19]

12

In [ ]:
a=[1,2,3,4,5,6,7,8,9,0,9,8,7,6,12,34,56,78,9]
un=[]
dp=[]
for i in a:
  if i not in un:
    un.append(i)
  elif i not in dp:
    dp.append(i)
print(dp)

[9, 8, 7, 6]

In [ ]:
#Python | Remove empty tuples from a list.
a=[12,(),13,15,13,17]
a.remove(())
print(a)

[12, 13, 15, (), 13, 17]

In [ ]:
def removes(tuples):
  tuples=[t for t in tuples if t]
  return tuples
tuples=[12,13,(),15,(),13,17]
removes(tuples)

[12, 13, 15, 13, 17]

In [ ]:
#python program to print 1st even number.
def remove(even):
  even=[35,20,30,45,40]
  for i in even:
    if i%2==0:
      return i
print(remove(even))

20

In [ ]:
#Remove multiple elements from a list in Python.
a=[12,1,3,1,2,3,4]
b=[]
for i in a:
  if i%2==0:
    b.append(i)
print(b)

[12, 2, 4]

In [ ]:
##Remove multiple elements from a list in Python.
a=[12,23,86,13,15,17]
b=[]
for i in a:
  if i%2==0:
    a.remove(i)
print(a)

[23, 13, 15, 17]

In [ ]:
a=[12,23,86,13,15,17]
c=[i for i in a if i%2!=0]
print(c)

[23, 13, 15, 17]

In [ ]:
a=[12,23,86,13,15,17]
b=[12,23]
c=[i for i in a if i not in b]
print(c)

[86, 13, 15, 17]

In [ ]:
#Python program to count positive and negative numbers in a list
a=[12,-12,13,-4,-6,13,19]
b=[]
c=[]
for i in a:
  if i<0:
    b.append(i)
  elif i>0:
    c.append(i)
print("number of -ve)",len(b),)
print("number of +vs",len(c))
print(b)
print(c)

number of -ve) 3
number of +vs 4
[-12, -4, -6]
[12, 13, 13, 19]

In [ ]:
#Python program to print all negative numbers in a range
c=[]
for i in range(-5,5):
  if i<0:
    c.append(i)
print(c)

[-5, -4, -3, -2, -1]

In [ ]:
#Python program to print all positive numbers in a range.
b=[]
a=[12,-13,14,-45,47,-87,-96]
for i in a:
  if i>0:
    b.append(i)
print("positive number",b)

positive number [12, 14, 47]

In [ ]:
#Python program to count Even and Odd numbers in a List.
b=[]
c=[]
a=[12,-13,14,-45,47,-87,-96]
for i in a:
  if i>0:
    b.append(i)
print("positive no. count",len(b))
for i in a:
  if i<0:
    c.append(i)
print("negative count",len(c))

positive no. count 3
negative count 4

In [ ]:
#Python program to find second largest number in a list
a=[12,-13,14,-45,47,-87,-96]
a.sort(reverse=True)
x=a[1]
print(x)

14

In [ ]:
a=[12,-13,14,-45,47,-87,-96]
x=max(a)
print(x)
a.remove(x)
print(a)
a.sort(reverse=True)
y=a[0]
print(y)

47
[12, -13, 14, -45, -87, -96]
14

In [ ]:
# Python | Multiply all numbers in the list

def multi(list):
  result=1
  for i in list:
    result=result*i
  return result
list=[1,2,3]
print(multi(list))

6

In [ ]:
#Python | Sum of number digits in List.
def sum(list):
  result=0
  for i in list:
    result=result+i
  return result
list=[1,2,3,4]
print(sum(list))

10

In [ ]:
#Python Program to count unique values inside a list.
a=[12,13,14,15,16,18,18]
list1=[]
list2=[]
for i in a:
  if i not in list1:
    list1.append(i)
  elif i not in list2:
    list2.append(i)      
print(list1)

[12, 13, 14, 15, 16, 18]

In [ ]:
#Python – List product excluding duplicates
a=[1,2,34,5,5,7,1,2,3]
b=[]
c=[]
for i in a:
  if i in b:
    b.append(i)
  elif i not in c:
    c.append(i)
def multi(c):
  result=1
  for i in c:
    result=result*i
  return result
c=[1, 2, 34, 5, 7, 3]
print(multi(c))

7140

In [ ]:
#Python – Extract elements with Frequency greater than K.
a=[12,13,14,17,23,45,67,8,9]
k=14
for i in a:
  if i>k:
    print(i)

17
23
45
67

In [ ]:
#python program to count the occurrances of the element in the list.
a=[1,3,4,5,6,6,2,3,4]
a.sort()
print(a)
b=[]
c=[]
for i in a:
  if i not in b:
    b.append(i)
  elif i not in c:
    c.append(i)
print(b)
a.count(6)

[1, 2, 3, 3, 4, 4, 5, 6, 6]
[1, 2, 3, 4, 5, 6]

2

In [ ]:
def countx(list,x):
  count=0
  for i in list:
    if i==x:
      count=count+1
  return count
list=[1,2,34,5,4,3,2,1]
x=1
print(countx(list,x))

2

In [ ]:
#Write a program to reverse an integer in Python.
a=1234
reverse=0
while (a>0):
  last_digit=a % 10
  reverse=reverse*10+last_digit
  a=a//10
print(reverse)

4321

In [ ]:
#Write a program to reverse an integer in Python.
a=1245
reverse=0
while (a>0):
  last_digit=a%10
  reverse=reverse*10+last_digit
  a=a//10
print(reverse)

5421

In [ ]:
##Write a program in Python to check whether an integer is Armstrong number or not.
n=153
s=n
b=len(str(n))
print(b)
sum1=0
while(n!=0):
  r=n%10
  sum1=sum1+(r**b)
  n=n//10
if s==sum1:
  print("arm")
else:
  print("not arm")

3
arm

In [ ]:
#Write a program in Python to check given number is prime or not..
num=7
for i in range(2,num-1):
  if num%i==0:
    print("given no. is not prime")
  else:
    print("given no. is prime")

given no. is prime
given no. is prime
given no. is prime
given no. is prime

In [ ]:
n=10
if n==1:
  print(n,"the n is not prime")
elif n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,"the number is not prime")
      break
    else:
      print(n,"the number is prime")
else:
  print(n,"the number is prime")

10 the number is not prime

In [ ]:
#Write a program in Python to print the Fibonacci series using iterative method.
n=5
a=0
b=1
c=0
i=0
print(a)
print(b)
while(i<n):
  c=a+b
  a=b
  b=c
  i=i+1
  print(c)

0
1
1
2
3
5
8

In [ ]:
n=6
a=0
b=1
c=0
i=0
print(a)
print(b)
while(i<n):
  c=a+b
  i=i+1
  a=b
  b=c
  print(c)

0
1
1
2
3
5
8
13

In [ ]:
#Write a program in Python to print the Fibonacci series using recursive method.
def fib(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fib(n-1)+fib(n-2)
for i in range(5):
  print(fib(i))

0
1
1
2
3

In [ ]:
#Write a program in Python to check whether a number is palindrome or not using iterative method.
n=121
b=str(n)
reverse=0
while(n>0):
  last_digit=n%10
  reverse=reverse*10+last_digit
  n=n//10
print(reverse)
reverse=121
a=str(reverse)
print(a)
if b==a:
  print("palindrome")
else:
  print("not a palindrome")

121
121
palindrome

In [ ]:
name="madam"
a=name[::-1]
print(a)
if name==a:
  print("palindrome")
else:
  print("not a palindrome")

madam
palindrome

In [ ]:
#Write a program in Python to check whether a number is palindrome or not using recursive method.

In [ ]:
#Write a program in Python to find greatest among three integers.
a=10
b=23
c=34
if a>b and a>c:
  print(a,"a is greatest")
elif b>c:
  print(b,"b is greatest")
else:
  print(c,"C is greatest")

34 C is greatest

In [ ]:
#Write a program in Python to find sum of digits of a number using recursion?
def sum(c):
  a=int(input(""))
  b=int(input(""))
  c=a+b
  return c
print(sum(c))

10
3
13

In [ ]:
#Write a program in Python to swap two numbers without using third variable
a=10
b=11
print(a)
print(b)

a,b=b,a

print(a,"swap")
print(b,"swap")

10
11
11 swap
10 swap

In [ ]:
#Write a program in Python to swap two numbers using third variable?
num1=10
num2=11
temp=num1
num1=num2
num2=temp
print("after swapping",num1)
print("after swapping",num2)

after swapping 11
after swapping 10

In [ ]:
def sum(a):
  total=0
  for i in a:
    total=total+i
    i+=1
    return total
print(sum([1,2,3,4,5]))

1

In [ ]:
#Write a program in Python to find given number is perfect square or not?
a=122
b=a**0.5
print(b)
print(int(b))
if int(b)==b:
  print("perfect number")
else:
  print("not a perfect square")

11.045361017187261
11
not a perfect square

In [ ]:
##Write a program in Python to find given number is perfect or not?
def perfect(n):
  sum=0
  for i in range(1,n):
    if n%i==0:
      sum=sum+i
  return sum
n=6
s=perfect(n)
if s==n:
  print("perfect number")
else:
  print("not a perfect number")

perfect number

In [ ]:
#Python Program to find the Average of numbers with explanations.
def avg(c):
  a=10
  b=10
  c=(a+b)/2
  return c
print(avg(c))

10.0

In [ ]:
a=[1,2,3,4,5,6]
b=len(a)
print(b,"total no. of elements in the list")
sum=0
for i in a:
  sum=sum+i
print(sum)
c=(sum)/b
print(c,"avg of the given list")

6 total no. of elements in the list
21
3.5 avg of the given list

In [ ]:
#Python Program to calculate factorial using iterative method.
a=5
c=[]
multi=1
for i in range(1,a+1):
  c.append(i)
  multi=multi*i
print(multi)

120

In [ ]:
def it_fact(n):
  multi=1
  for i in range(n,0,-1):
    multi=multi*i
  return multi
print(it_fact(5))

120

In [ ]:
def recursive_fact(n):
  if n==0:
    return 1
  return(n)*recursive_fact(n-1)
  print(recursive_fact(5))

In [ ]:
#Python Program to check a given number is even or odd.
num=int(input(""))
if num%2==0:
  print("given number is even")
else:
  print("given number is odd")

20
given number is even

In [ ]:
#write a python program to separate even and odd number from list
a=[]
b=[]
c=[]
list1=[12,13,14,15,17,18,20,5,7,11]
for i in list1:
  if i%2==0:
    a.append(i)
  if i%2!=0:
    b.append(i)
print(a)
print(b)

[12, 14, 18, 20]
[13, 15, 17, 5, 7, 11]

In [ ]:
#Python program to print first n Prime Number with explanation.
lower=0
upper=50
for i in range(lower,upper+1):
  if i==1 and i==0:
    print("not a prime number")
  if i>1:

In [ ]:
n=int(input(""))
if n<2:
  print("not a prime number")
else:
  for i in range(2,n):
    if n%i==0:
      print("not a prime number")
    break
  else:
    print("is a prime number")

5
is a prime number

In [ ]:
number=int(input(""))
for n in range(2,number):
  for i in range(2,n):
    if n%i==0:
      break
  else:
    print(n,end=" ")

20
2 3 5 7 11 13 17 19

In [ ]:
# #Python Program to print Prime Number in a given range.
# lower=0
# upper=20
# if lower<2:
#   print("not a prime number")
# else:
#   for n in range(lower,upper):
#     for i in range(2,upper):
#       if n%i==0:
#         print("not a prime number")
#         break
#   else:
#     print(n,end=" ")

not a prime number

In [ ]:
#Python Program to find Smallest number among three.
a=23
b=78
c=15
if a>b and a>c:
  print("a is gretest")
elif b>c:
  print("b is grestest")
else:
  print("c is grestest")

b is grestest

In [ ]:
#Python program to calculate the power using the POW method.
import math
a=10
b=math.pow(10,2)
print(b)

100.0

In [ ]:
#Python Program to calculate the power without using POW function.(using for loop).

In [ ]:
#Python Program to calculate the square of a given number.
def sq(a):
  b=a*a
  return b
print(sq(5))

25

In [ ]:
#Python Program to calculate the cube of a given number.
def cube(a):
  b=a*a*a
  return b
print(cube(5))

125

In [ ]:
#Python Program to calculate the square root of a given number.
def sr(a):
  b=a**0.5
  return b
print(sr(25))

5.0

In [ ]:
#python program to access the char of string in forward and backward direction using while loop
s="Nilesh"
n=len(s)
i=0
print("forward")
while i<n:
  print(s[i], end="")
  i=i+1
print("backward")
i=-1
while i >=-n:
  print(s[i], end="")
  i=i-1

forward
Nileshbackward
hseliN

In [ ]:
#python program two compair two string
s1=input("")
s2=input("")
if s1==s2:
  print("two string are equal")
elif s1<s2:
  print("s2 is greater than s1")
else:
  print("s1 is greater than s2")

nilesh
thonte
s2 is greater than s1

In [ ]:
#python program to disply all positions of substring in a given main string
s=input("")
subs=input("")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
    print(pos)
    flag=True
if flag==False:
  print("not found")

nilesh thonte
nilesh
not found

In [ ]:
#Python program to remove given character from String.
c=[]
name="nilesh thonte"
a=name.split()
b=a[0]
c.append(b)
print(c)

['nilesh']

In [ ]:
new=name.replace("thonte"," ")
print(new)

nilesh

In [ ]:
name="nilesh thonte"
for i in "h":
  name=name.replace("h"," ")
print(name)

niles  t onte

In [ ]:
#Python Program to count occurrence of a given characters in string.
name="nileshthonte"
print(name)
myset=set(name)
for ele in myset:
  count=0
  for char in name:
    if char==ele:
      count+=1
  print("occurance",ele,count)

nileshthonte
occurance t 2
occurance h 2
occurance l 1
occurance o 1
occurance i 1
occurance s 1
occurance e 2
occurance n 2

In [ ]:
#Python Program to check if two Strings are Anagram.
import collections
from collections import Counter
def name(s1,s2):
  #here Counter function is used to count the letters and tell the anagram or not 
  if(Counter(s1)==Counter(s2)):
    print("anagram")
  else:
    print("not anagram")
s1 = "listen"
s2 = "silent"
name(s1,s2)

anagram

In [ ]:
#Python program to check a String is palindrome or not.
name="nilesh"
c=name[::-1]
print(c)
if name==c:
  print("given string is palandrom")
else:
  print("not a palandrome")

hselin
not a palandrome

In [ ]:
#Python program to check given character is vowel or consonant
c=[]
name="nilesh"
vol=("a","e","i","o","u")
for ele in name:
  if ele in vol:
    c.append(ele)
print(c)

['i', 'e']

In [ ]:
c=[]
name="nilesh"
vol=("a","e","i","o","u")
for ele in name:
  if ele not in vol:
    c.append(ele)
print(c)

['n', 'l', 's', 'h']

In [ ]:
#Python program to check given character is digit or not.
name='23'
name.isdigit()

True

In [ ]:
#Python program to replace the string space with a given character.
name="nilesh thonte"
a=name.replace(" ","c")
print(a)

nileshcthonte

In [ ]:
name="nilesh thonte"
ch="c"
for i in name:
  if i==" ":
    i=ch
print(result)

 nileshcthonte

In [ ]:
# Python program to convert lowercase char to uppercase of string.
name="nilesh thonte"
new_name=name.upper()
print(new_name)

NILESH THONTE

In [ ]:
name="nilesh thonte"
a=[]
for i in name:
  c=i.upper()
  a.append(c)
print(a)
b=str(a)
print(type(b))
d=b.replace(","," ")
print(d)

['N', 'I', 'L', 'E', 'S', 'H', ' ', 'T', 'H', 'O', 'N', 'T', 'E']
<class 'str'>
['N'  'I'  'L'  'E'  'S'  'H'  ' '  'T'  'H'  'O'  'N'  'T'  'E']

In [ ]:
# Python program to delete vowels in a given string.
name="nilesh thonte"
vowels=("a","e","i","o","u")
for i in name:
  if i  not in vowels:
    r="".join(i)
    print(r,end="")

nlsh thnt

In [ ]:
a=[12,13,14,15,16,17]
b=[]
c=[]
for i in a:
  if i%2==0:
    print(i)
    c.append(i)
  if i%2!=0:
    b.append(i)
print("even",b)

12
14
16
even [13, 15, 17]

In [ ]:
#Python program to count Occurrence Of Vowels & Consonants in a String.
from collections import Counter
name="nilesh"
vowels=("a","e","i","o","u")
c=[]
d=[]
for i in name:
  if i not in vowels:
    c.append(i)
  else:
    d.append(i)
print("no. of vowels are",len(d))
print("no. of consolantes in given string",len(c))

no. of vowels are 2
no. of consolantes in given string 4

In [ ]:
name="nilesh"
vowels=0
conso=0
for i in name:
  if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
    vowels=vowels+1
  else:
    conso=conso+1
print("total vovels are",vowels)
print("total consos are",conso)

total vovels are 2
total consos are 4

In [ ]:
#Python program to print the highest frequency character in a String.
from collections import Counter
name="nnilesh thonte"
d=name.replace(" ","")
c=Counter(d)
print(c)
c=max(c, key = c.get)
print(c)

Counter({'n': 3, 'e': 2, 'h': 2, 't': 2, 'i': 1, 'l': 1, 's': 1, 'o': 1})
n

In [4]:
#Python program to separate characters in a given string.
name="nilesh"
for i in name:
  print(i.split(),end=" ")

['n'] ['i'] ['l'] ['e'] ['s'] ['h']

In [6]:
name="nilesh"
char=list(name)
print(char)

['n', 'i', 'l', 'e', 's', 'h']

In [8]:
#Python program to concatenate two strings using join() method.
n="nilesh"
w="Thonte"
a=n.join(w)
print(a)

Tnileshhnileshonileshnnileshtnileshe

In [10]:
t=("nilesh","thonte")
a=" ".join(t)
print(a)

nilesh thonte

In [16]:
#Python program to concatenate two strings without using join() methodt=
a="nilesh"
b="thonte"
c= a + b
print( c)

nileshthonte

In [19]:
#Python program to remove repeated character from string.
name="nnilesh"
a=list(name)
print(a)
b=set(a)
print(b)

['n', 'n', 'i', 'l', 'e', 's', 'h']
{'e', 's', 'n', 'l', 'h', 'i'}

In [22]:
n="nnilesh"
p=""
for i in n:
  if i not in p:
    p=p+i
print(p)

nilesh

In [23]:
def remove(str):
  s=set()
  for i in str:
    s.add(i)

  st = ""
  for i in s:
      st = st+i
  return st
str="nnilesh"
print(remove(str))

esnlhi